{{ define "title" }}{{ .Title }} - {{ end }}


{{ define "head" }}
{{ with .OutputFormats.Get "RSS" }}<link rel="alternate" type="application/rss+xml" title="RSS Feed : {{ $.Title | plainify }} in {{ $.Site.Title | plainify }}" href="{{ .RelPermalink }}">{{ end }}
{{ end }}


{{ define "main" }}
{{ $pagination := (.Paginate .Data.Pages.ByDate.Reverse).Pages }}
{{ with .Data.Plural }}<p class="tags"><a href="{{ . | absURL }}/">{{ . | title }}</a>:</p>{{ end }}
<h1>{{ .Title }}</h1>
{{ if and ($pagination) (gt .Paginator.TotalPages 1) }}<h2>page {{ .Paginator.PageNumber }}</h2>{{ end }}

<div>
{{ range $pagination }}
<article>
{{ .Render "item-title" }}
{{ .Render "item-time" }}
{{ .Render "item-tags" }}
</article>
{{ end }}
</div>

{{ partial "pagination.html" . }}
{{ end }}
