{{ define "title" }}{{ .Title }} - {{ end }}


{{ define "head" }}
{{- with .OutputFormats.Get "RSS" }}
<link rel="alternate" type="application/rss+xml" title="RSS Feed : {{ $.Title | plainify }} in {{ $.Site.Title | plainify }}" href="{{ .RelPermalink }}" />
{{- end }}
{{ end }}


{{ define "main" }}
{{- $paginate := partial "functions/get-param" (dict "page" . "param" "paginate" ) }}
{{- $paginator := .Paginate .Data.Pages.ByDate.Reverse ($paginate | default 12) }}
{{- $pagination := $paginator.Pages }}
{{- with .Data.Plural }}<p class="tags"><a href="{{ . | absURL }}/">{{ . | title }}</a>:</p>{{ end }}
{{ .Render "item-pre" }}
<h1>{{ .Title }}</h1>
{{ if and ($pagination) (gt .Paginator.TotalPages 1) }}<h2>page {{ .Paginator.PageNumber }}</h2>{{ end }}

<div>
{{ with .Description }}<p class="description">{{ . | plainify }}</p>{{ end }}
{{ range $pagination }}
{{ if .Draft }}<article class="draft">{{ else }}<article>{{ end }}
{{ .Render "item-title" }}
{{ .Render "item-time" }}
{{ .Render "item-tags" }}
{{- with .Description }}<p>{{ . | plainify }}</p>{{ end }}
</article>
{{ end }}
</div>

{{ partial "pagination.html" . }}
{{- end }}
