{{ define "title" }}{{ .Title }} - {{ end }}


{{ define "head" }}
{{ with .OutputFormats.Get "RSS" }}<link rel="alternate" type="application/rss+xml" title="RSS Feed : {{ $.Title | plainify }} in {{ $.Site.Title | plainify }}" href="{{ .RelPermalink }}" />{{ end }}
{{ end }}


{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ if .Data.Terms }}
<ul id="tagcloud">
{{ range .Data.Terms }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <span class="count">({{ .Count }})</span></li>
{{ end }}
</ul>
{{ else }}
<p>no data found</p>
{{ end }}
{{ end }}
